body{
    /*background-color: red;
    color: white;
    font-size: 16px;*/
}

.book-summary {
    /*background: red;*/
}

ul.summary{
    /*margin-right: 20px;
    background: red;*/
}

.book{
    /*background: red;*/
}

.book-body{
    /*background: red;*/
}

.book-header{
   /* background: red;*/
}

.page-inner{
    /*background: red;*/
}


