body{
    /*background-color: red;
    color: white;
    font-size: 16px;*/
}

.book-summary {
    /*background: red;*/
}

ul.summary{
    /*margin-right: 20px;
    background: red;*/
}

.book{
    /*background: red;*/
}

.book-body{
    /*background: red;*/
}

.book-header{
   /* background: red;*/
}

.page-inner{
    /*background: red;*/
}


.syntaxbox span.attrname{
    color:#0000FF;
    padding-left:30px;
}

.attrvalue{
    color: #008000;
}

.tagname{
    color:#000080;
}

div.syntaxbox{
    text-align: left;
    background-color: #f7f7f7;
}

.reveal div.syntaxbox{
    font-size: 0.55em;
    font-family: monospace;
    max-height:400px;
    overflow:auto;
}

